.xergor-body {
    width: calc(100% - 5.5rem);
    margin-top: 5.57rem;
    margin-left: 5.5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;

}

.xergor-body-trimmed {
    width: calc(100% - 17.5625rem);
    margin-left: 17.5625rem;
}

.xergor-body-md-trimmed {
    width: calc(100% - 5.5rem);
    margin-left: 5.5rem;
}


.loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

::ng-deep .mat-progress-bar-fill::after {
    background-color: #024554;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}