// Colors
$color-primary: #f66f61;

$color-secondary: #292929;
$color-secondary-bright: #81828d;
$color-secondary-brighter: #979797;
$color-secondary-brightest: #f3f4f3;

$color-darkest: #000;
$color-brightest: #fff;
