.alert {
  position: fixed;
  min-width: 250px;
  margin-left: -125px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
  text-align: center;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;

  .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

  .alert-success {
    background-color: #175935;
    border-color: #175935;
    color: #fff;
  }
  
  .alert-info {
    background-color: #024554;
    border-color: #024554;
    color: #fff;
  }
  
  .alert-warning {
    background-color: #f4f711;
    border-color: #f4f711;
    color: #000;
  }
  
  .alert-danger {
    background-color: #F64E60;
    border-color: #F64E60;
    color: #fff;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }